@media (max-width: 576px) {
  /* … */
  .lifehack-card {
    width:100%
  }
}

@media (min-width: 576px) {
  /* … */
  .lifehack-card {
    width:100%
  }
}

@media (min-width: 778px) {
  /* … */
  .lifehack-card {
    width:40%
  }
}

@media (min-width: 992px) {
  /* … */
  .lifehack-card {
    width:30%
  }
}

@media (min-width: 1200px) {
  /* … */
  .lifehack-card {
    width:30%
  }
}
