@media (max-width: 576px) {
  /* … */
  body {
    background-color: red;  
  }
  .lifehack-card {
    width:100%
  }
}

@media (min-width: 576px) {
  /* … */
  body {
    background-color: orange;
  }
  .lifehack-card {
    width:100%
  }
}

@media (min-width: 778px) {
  /* … */
  body {
    background-color: yellow;
  }
  .lifehack-card {
    width:40%
  }
}

@media (min-width: 992px) {
  /* … */
  body {
    background-color: green;
  }
  .lifehack-card {
    width:30%
  }
}

@media (min-width: 1200px) {
  /* … */
  body {
    background-color: blue;
  }
  .lifehack-card {
    width:30%
  }
}
